@mixin card-styles {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@mixin background-image-settings {
  background-position: center;
  background-size: cover;
  background-repeat: none;
}
