// COLOURS
$crimson: #ed1c24;
$royal-blue: #4b81e8;
$mine-shaft: #312c2c;
$tundora: #4e4646;
$gray: #837e7e;
$cherub: #f8d7da;
$barley-white: #fff3cd;
$ocean-green: #36ab80;
$athens-gray: #f8f9fa;

// Brand colours:
$primary-color: $crimson;
$secondary-color: $royal-blue;

// White & Light Backgrounds
$light-section-background-color: $athens-gray;
$dark-text-color: $mine-shaft;
$default-text-color: $tundora;
$light-text-color: $gray;

// Dark Backgrounds:
$dark-section-background-color: $mine-shaft;
$default-high-contrast-text-color: #ffffff;

// State colours
$error-text-color: $crimson;
$success-text-color: $ocean-green;

// Banner colours
$attention-grabbing-banner-color: $cherub;
$fade-away-banner-color: $barley-white;

// Button colours
$primary-button-background-color: $primary-color;
$primary-button-copy-color: $default-high-contrast-text-color;
$secondary-button-color: $secondary-color;

// Tag colours
$tag-background-color: $secondary-button-color;

// SIZING
// for random sizing jobbies
$size-unit: 8px;
$x1: $size-unit;
$x2: $size-unit * 2;
$x3: $size-unit * 3;
$x4: $size-unit * 4;
$x5: $size-unit * 5;
$x6: $size-unit * 6;
$x8: $size-unit * 8;

// for layouts
$space-nano: $size-unit;
$space-normal: $size-unit * 2;
$space-large: $size-unit * 3;
$space-mega: $size-unit * 4;
$space-huge: $size-unit * 8;
$space-enormous: $space-huge * 2;
