@import "../../styles/styles";

.FancyCardContainer {
  display: grid;
  row-gap: $space-mega;

  @include mq($from: tablet) {
    grid-template-columns: 1fr 1fr;
    column-gap: $space-mega;
  }

  @include mq($from: desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: $space-huge;
    row-gap: $space-huge;
  }
}

.FancyCard {
  @include card-styles;

  @include mq($from: desktop) {
    margin-bottom: 0;
  }

  &_image {
    height: 175px;
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    @include background-image-settings;
  }

  &_tag {
    position: absolute;
    left: $space-mega;
    bottom: $space-mega;
    border-radius: 50px;
    padding: $x1 $x2;
    background-color: $tag-background-color;
    color: $default-high-contrast-text-color;
    font-weight: bold;
    font-size: 16px;
  }

  &_copyContainer {
    padding: $space-mega;
  }

  &_caption {
    margin-top: 0;
    font-size: 16px;
    color: $light-text-color;
    text-transform: uppercase;
  }

  &_title {
    font-size: 22px;
    line-height: 1.4;
    color: $dark-text-color;
    font-weight: bold;
  }

  &_description {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.4;
    color: $default-text-color;
  }
}
